#main-features {
    background-color: dimgray;
    padding: 2;
    margin: 2;
}
#improvements {
    background-color: dimgray;
}
#main-features-list {
    background-color: gray;
    font-size: 20;
    padding: 50;
}
#improvements-list {
    background-color: gray;
    font-size: 20;
    padding: 50;
}
#register {
    background-color: dimgray;
}